footer {
  padding: 60px 0;
  background-image: url('../img/footer-montagne-bottom.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  color: $footerColor;
  a {
    color: $footerColor;
  }
  .contain{
    display: flex;
    justify-content: space-between;
    .utility-link{
      display: flex;
      flex-wrap: wrap;
      width: 65%;
      &-container {
        width: 50%;
        h3 {
          padding: 10px 0;
          font-size: 24px;
        }
        ul{
          list-style: none;
          text-align: left;
          padding-bottom: 20px;
          li{
            padding: 10px 0;
            &.active{
              background-color: lightblue;
            }
          }
        }
      }
    }
  }
}
